<div class="row row-centered body-text">
	<div class="animated bounce"><%= image_tag('bouncey.svg', size: "150x80")  %></div>
	<h2>Hey, <%= current_user.first_name %>! I'm Victor. Let's get started.</h2><br>
	<div class="col-sm-3 track col-centered">
	      <div class="card-block text-center">
	        <h2 class="card-title">What days do you <br> want to take off?</h2>
	        <p class="card-text">
	        	<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-primary text-center">
						<input type="checkbox">Monday
					</label> <br>
					<label class="btn btn-primary">
						<input type="checkbox">Tuesday
					</label> <br>
					<label class="btn btn-primary">
						<input type="checkbox">Wednesday
					</label> <br>
					<label class="btn btn-primary">
						<input type="checkbox">Thursday
					</label> <br>
					<label class="btn btn-primary">
						<input type="checkbox">Friday
					</label> <br>
					<label class="btn btn-primary">
						<input type="checkbox">Saturday
					</label> <br>
					<label class="btn btn-primary">
						<input type="checkbox">Sunday
					</label>
	        	</div></p>
	      </div>
	</div>
	<div class="col-sm-3 track col-centered">
	      <div class="card-block text-center">
	        <h2 class="card-title">What time do you <br> usually wake up?</h2>
	        <p class="card-text"> <input value="12:00" type="text" class="wakeup_time_select body-text text-center" /></p>
		</div>
	</div>
	     <div class="col-sm-3 track col-centered">
	      <div class="card-block text-center">
	        <h2 class="card-title">What do you want <br> to get better at?</h2>
	        <p class="card-text">
	        	<div class="btn-group" data-toggle="buttons">
		        	<% @tags.each do |tag| %>
		        		<label class="btn btn-primary">
		        			<input type="checkbox"><%= tag.name  %>
		        		</label><br>
		        	<% end %>
	        	</div>
	        </p>
		</div>
	</div>
</div>


<script href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.js"></script>
