<h1>Let's get you set up, <%= current_user.name %></h1><br>


 <div class="container">
      <div id="calendar" class="center"></div>
    </div>

<h3>What time do you usually wake up?</h3>
  <input value="12:00" type="text" class="wakeup_time_select" />


<script href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.js"></script>
