<div class="row row-centered body-text">
	<div class="col-sm-6 col-sm-offset-3 or_span_padding">
		<h1 class="header"><%= @prompt  %></h1>
		<h2 class="header">Do 100 <%= @task.name  %></h2>
		<div class="row row-centered">
			<button class="timer_submit_button" id="start">Get Started</button>
		</div>
			<div id='DateCountdown' class="demo stopwatch col-sm-6 col-sm-offset-3 countdown_timer row" data-timer="300" style="height:400px;width:400px;"></div>
			<div class="row">
			<%= form_tag("/tracks/" + @track.id.to_s + "/tasks") do  %>
				<button class="btn btn-default task_victory_button" type="submit">Victory</button>
			<% end %>
			</div>
	</div>
</div>
