<!-- 
<div class="centered">
	<div class="card-deck-wrapper">
	  <div class="card-deck ">
	    <div class="card col-sm-3 track">
	      <img class="card-img-top img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150" alt="Card image cap">
	      <div class="card-block">
	        <h4 class="card-title">Card title</h4>
	        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
	              <a href="#" class="btn btn-primary">Go somewhere</a>

	      </div>
	    </div>
	    <div class="card col-sm-3 track">
	      <img class="card-img-top" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150" alt="Card image cap">
	      <div class="card-block">
	        <h4 class="card-title">Card title</h4>
	        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
	              <a href="#" class="btn btn-primary">Go somewhere</a>

	      </div>
	    </div>
	    <div class="card col-sm-3 track">
	      <img class="card-img-top" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150" alt="Card image cap">
	      <div class="card-block">
	        <h4 class="card-title">Card title</h4>
	        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
	              <a href="#" class="btn btn-primary">Go somewhere</a>

	      </div>
	    </div>
	  </div>
	</div>
</div>
 -->
<!-- <div class="container">
	<div class="span7 center">
		Use regular bootstrap span classes but be able to center your divs
	</div>
</div> -->

<div class="row">
  <div class="card col-sm-3 track center">
	      <img class="card-img-top img-responsive center" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150" alt="Card image cap">
	      <div class="card-block">
	        <h4 class="card-title">Card title</h4>
	        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
	              <a href="#" class="btn btn-primary">Go somewhere</a>

	      </div>
	    </div>
	     <div class="card col-sm-3 track center">
	      <img class="card-img-top img-responsive center" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150" alt="Card image cap">
	      <div class="card-block">
	        <h4 class="card-title">Card title</h4>
	        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
	              <a href="#" class="btn btn-primary">Go somewhere</a>

	      </div>
	    </div>
	     <div class="card col-sm-3 track center">
	      <img class="card-img-top img-responsive center" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150" alt="Card image cap">
	      <div class="card-block">
	        <h4 class="card-title">Card title</h4>
	        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
	              <a href="#" class="btn btn-primary">Go somewhere</a>

	      </div>
	    </div>
</div>