<div class="row row-centered body-text">
  <div class="col-sm-6 col-sm-offset-3 or_span_padding">

	<h1 class="header">Select your Track</h1><br>

	<% @unique_tracks.each do |track|  %>
			<div class="col-sm-12 track_select col-centered ">
		      
		        <h3 class="card-header track_title"><%= track.name  %></h3>
		      <div class="card-block text-center">
		        <p class="card-text track_description"><%= track.description %></p>
		        <!-- user_track_path(track.id) fixes problem of track not being assigned -->
		        <%= button_to("Select", user_track_path(track.id), :class => 'track_select_button', :method => :get)  %>

		      </div>
			</div>
	<% end %>
	</div>
</div>
